body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #ddd;
}
h1 {
	text-align: center;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.cell{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width:	50px;
	margin: 0;
	padding: 0;
}

[data-type="W"]{
	background-color: #000;
}

[data-type="S"]{
	background-color: red;
}

[data-type=" "]{
	background-color: #222;
}

[data-type="F"]{
	background-color: blue;
}

#gameBoard{
	height: 750px;
	width: 1200px;
	background-color: #444;
	margin: auto;
	padding: 50px;
}

#player {
	background-color: darkgreen;
	height: 40px;
	width: 40px;
}

#winSpan{
	display: flex;
	justify-content: center; 
	font-size: 24pt;
}

#rules{
	display: flex;
	justify-content: center; 
	font-size: 20pt;
}